/*последовательность действий:
1. Подключить шрифты
2. Подключить modern-normalize
3. Сбросить настройки
4. Прописать шрифты
5. Прописать стили CSS для: header, main, footer*/

/*-----------------сброс дефолтных настроек от браузера-----------------*/
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
button {
    cursor: pointer;
}

h1,h2,h3,h4,p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}
/*------основні шрифти------*/


/*---------------створюю контейнер(центрую)---------------*/
/*-------спільний клас для кожної секції,який огорнутий у DIV---*/
.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

}
/*==спільний клас для кожної секції,який огорнутий у DIV==*/

/*-------------------------COMPONENTS(кнопки...)-------------------------*/


/*-------------------------HEADER-------------------------*/
/*---------------прописую Flex---------------*/

.main-header {
    display: flex;
    align-items: center;
    padding-top: 26px;
    padding-bottom: 26px;
}

.main-header-container {
    display: flex;
    align-items: center;
}
.navigation {
    display: flex;
    align-items: center;
    column-gap: 80px;
}
.menu {
    display: flex;
    align-items: center;
    column-gap: 40px;
}
.page-address {
    display: flex;
    align-items: center;
}
.header-contacts {
    display: flex;
    align-items: center;
    column-gap: 40px;
  /*возможно не правильно*/  
    margin-left: 250px;
}

/*==========HEADER==========*/

/*--HERO.Список кнопок.--*/
/*---------------FLEX---------------*/
.hero-btn {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 96px;
    margin-bottom: 120px;
}

.menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    margin-bottom: 72px;
    

}
.menu-btn-item {
    display: flex;
    align-items: center;
}

/*реаьная беда с кнопками*/

.filter-button {
    padding: 12px 24px;
    background-color: #F4F4FD;
    color: #4D5AE5;
}
.filter-button:hover {
    background-color: #404BBF;
    color: #FFFFFF;
}

/*==========WEB-PRODUCT.Список кнопок.==========*/
.web-product {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 48px 24px;
}
/*прописал рамку и padding*/
.title-category-text {
    padding: 32px 32px 55px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

/*---------------прописую шрифти---------------*/
.web-text {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.studio-text {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.web-text {
    color: #4D5AE5;
}
.studio-text {
    color:#2E2F42;
}
/*інтерактивні посилання*/

.header-contacts-item{
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}



/*-------------------------MAIN-------------------------*/
/*-------------------------прописую FLEX-------------------------*/


.menu-btn-item {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:#4D5AE5;

}

/*шрифты app-ideas*/
.ideas-title {
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
}
.ideas-category {
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
/*шрифты для serise*/
.servise-title {
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
}
.servise-category {
font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*Шрифты для portfolio-section*/
.portfolio-section-title {
font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.portfolio-section-category{
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
/*-------------------------FOOTER-------------------------*/
.web-text{
    font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
}
.studio-text {
    font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #F4F4FD;
}
.footer-text {
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
}